/*Basic Style Start */


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    html, body {
    overflow-x: clip;
    position: relative;
    background: var(--text-clr);
    
}

body {
    font-family: "Rajdhani", sans-serif!important;

    display: flow-root;

}


.abbreviation-box {
  position: relative;
  cursor: pointer;
  text-decoration: underline dotted; /* Keeps the standard standard dotted underline */
}


.abbreviation-box::after {
  content: attr(full-form); /* Pulls the text dynamically from HTML */
  position: absolute;
  left: 0;
  top: 120%; /* Pushes the box directly below the text */
  white-space: nowrap;
  
  /* Color Palette & Typography */
  background: var(--header-font-clr); 
  color: var(--text-clr);            
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;       
  box-shadow: 0px 4px 10px var(--box-shadow-clr);
  
  /* Hidden by default */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

/* Show the box on hover */
.abbreviation-box:hover::after {
  opacity: 1;
}

/* The line Effect Code Start */


.the-line{
   color: var(--header-font-clr);
   position: relative;
   transition: ease-in 0.15s, ease-out 0.25s; 
}

.the-line:hover{
    color: var(--btn-bg-clr);
}

.the-line::after{
    content:"";
    position: absolute;
    right:0;
    bottom:0;
    width: 0;
    height: 2px;
    background-color: var(--btn-bg-clr);
    transition: ease-in 0.15s, ease-out 0.25s;
}

.the-line:hover::after{
    width: 100%;
    left:0;
}


/* The line Effect Code End */

/* The Grow Effect Code Start  */

.grow{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--transparent);
    margin-right: 0.5em;
    transition: all ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.grow-i{
    color: var(--icon-dark-clr);
    font-size: 1rem;
    z-index: 3;
}
.grow::after{
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--btn-bg-clr);
    transition: all ease 0.5s;
    transform: scale(0);
}
.grow:hover::after{
    transform: scale(1);
}
.grow:hover .grow-i{
    color: var(--icon-light-clr);
}






div.loader-container{
    top: 0;
    left: 0;
    
    background: var(--text-clr);
    z-index: 9999;
    transition: opacity 0.5s ease;
    pointer-events: none;
}


  .loader {
    position: relative;
    width: calc(var(--loader-size) * 0.51);
    height: calc(var(--loader-size) * 0.51);
  }

  .dot {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
  }

  .dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--btn-bg-clr);
    transition: background-color 0.3s ease;
  }

  .dot:first-child {
    animation: swing var(--loader-speed) linear infinite;
  }

  .dot:last-child {
    animation: swing2 var(--loader-speed) linear infinite;
  }

  @keyframes swing {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }

    25% {
      transform: rotate(70deg);
      animation-timing-function: ease-in;
    }

    50% {
      transform: rotate(0deg);
      animation-timing-function: linear;
    }
  }

  @keyframes swing2 {
    0% {
      transform: rotate(0deg);
      animation-timing-function: linear;
    }

    50% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }

    75% {
      transform: rotate(-70deg);
      animation-timing-function: ease-in;
    }
  }


/* The Grow Effect Code End  */




:root {
    --header-font-clr: rgba(20,20,20);
    --text-clr: #ffffff;
    --btn-bg-clr: rgba(255, 0, 0);
    --btn-bg-light-clr: rgba(255, 0, 0, 0.1);
    --hero-bg-clr: rgba(43, 16, 22);
    --about-bg-clr:rgb(67, 20, 23);
    --box-shadow-clr: rgba(0, 0, 0, 0.5);
    --heading-clr:rgba(237, 228, 228, 1);
    --gradient-text: linear-gradient(120deg,rgba(0, 0, 0,0),rgba(255, 0, 0, 0.5));
    --placeholder-text-clr:rgba(117, 117, 118);
    --transparent:#e7e7e7;
    --description-clr:#5d6570;
    --invisible: rgba(0,0,0,0);
    --transparent-bg-clr:rgba(0,0,0,0.05);
    --content-bg:#F2F2F2;
    --progressbar-bg:#f4f4f4;
    --border: #d9dde0;
    --heading-section-clr:rgb(237, 237, 237);
    --icon-dark-clr:rgba(20,20,20);
    --icon-light-clr:rgba(255,255,255);
    --bg-image: url("../Images/Background.png");
    --label-border: 2px;
    --loader-size: 78px;
    --loader-speed: 1.4s;
    --moon:#F6F1D5;
    --sun:#FFA500 ;
    --theme-btn-bg:rgb(24, 24, 24);
    transition: all ease 1s;
}

/* For Dark Mode  */
:root.dark-mode {
    --header-font-clr: rgba(235,235,235);
    --text-clr: rgb(0, 0, 0);
    --btn-bg-clr: rgba(255, 0, 0);
    --btn-bg-light-clr: rgba(255, 0, 0, 0.25);
    --hero-bg-clr: rgba(212, 239, 233);
    --about-bg-clr:rgb(188, 235, 232);
    --box-shadow-clr: rgba(255, 255, 255, 0.5);
    --heading-clr:rgba(18, 27, 27, 1);
    --gradient-text: linear-gradient(120deg,rgba(0, 0, 0,0),rgba(255, 0, 0, 0.5));
    --placeholder-text-clr:rgba(138, 138, 137);
    --transparent:rgb(24, 24, 24);
    --description-clr:rgb(162, 154, 143);
    --invisible: rgba(0,0,0,0);
    --transparent-bg-clr:rgba(0,0,0,0.05);
    --content-bg:rgb(13, 13, 13);
    --progressbar-bg:rgb(11, 11, 11);
    --border: rgb(38, 34, 31);
    --heading-section-clr:rgb(18, 18, 18);
    --icon-dark-clr:rgba(255,255,255);
    --icon-light-clr:rgba(255,255,255);
    --bg-image: url("../Images/Background-Dark.png");
    --label-border: 2px;
    --loader-size: 78px;
    --loader-speed: 1.4s;
    --moon:#F6F1D5;
    --sun:#FFA500 ;
    --theme-btn-bg:#e7e7e7;
    transition: all ease 1s;
}


/* Basic Style End */



/* Hero Section Style Start */


section.hero {
    font-size: 5rem;
    position: relative;
    z-index: 1;
    height: auto;
}

    
section.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.25;
    height: 100%;
    width: 100%;
}



.cursor {
    display: inline-block;
    width: 8px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }

}



section.hero div.container div.hero-text h2{
    color: var(--header-font-clr);
    font-weight: 600;   
}
section.hero div.container div.hero-text h3{
    color: var(--header-font-clr);
    font-weight: 600;   
}
section.hero div.container div.hero-text span{
    color: var(--btn-bg-clr);
    font-weight: 600;   
}
section.hero div.container div.hero-text p{
    color: var(--description-clr);
    width: 80%;
}



    .btn-1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;   
    font-weight: 500;
    background: transparent;
    color: var(--text-clr);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 3;
    }

    .btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--btn-bg-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;
    }
    .btn-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background: var(--text-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;    
    }

    .btn-1:hover{
    color: var(--btn-bg-clr);
    transform: translateX(10px);
    box-shadow: 0 0 20px var(--box-shadow-clr);
    }
    .btn-1:hover::before{
    left: 100%;
    }
    .btn-1:hover::after{
    right: 0;
    }




section.hero div.container div.hero-img {
    position: relative;
    height: auto;
    
}

section.hero div.container div.hero-img img.img-fluid{
    z-index: 2;
    position: relative;
}

section.hero div.container div.hero-img h2.updown{
    color: var(--header-font-clr);
    animation: uptodown 5s infinite;
    position: absolute;
    font-weight: 600;
    z-index: 1;

}

@keyframes uptodown{
0%{
    transform: translateY(-10px);
}    
50%{
    transform: translateY(10px);
}
100%{
    transform: translateY(-10px);
}
}

section.hero div.container div.hero-img h2.downup{
    color: transparent;
    -webkit-text-stroke: 1px var(--header-font-clr);
    animation: downtoup 5s infinite;
    position: absolute;
    z-index: 3;
    font-weight: 900;

}
@keyframes downtoup{
0%{
    transform: translateY(10px);
}    
50%{
    transform: translateY(-10px);
}
100%{
    transform: translateY(10px);
}
}


/* Hero Section Style End */

/* Projects Summary Section Style Start  */

section.project-sum{
    padding: 4rem 0;
}


section.project-sum div.container div.row div.project-sum-wrapper{
    padding: 1rem;
    animation: scaleUp both;
    animation-timeline: view(5% 10%);
}
@keyframes scaleUp{
    from{
        scale: 0.8;
        translate: 0 4rem;
    }
    to{
        scale: 1;
        translate: 0 0;
    }
}


section.project-sum div.container div.row div.project-sum-wrapper div.project-sum-card{
    border: 1px solid #FEDCDE;
    padding: 2.25rem 1rem;
    border-radius: 25px;
}

section.project-sum div.container div.row div.project-sum-wrapper div.project-sum-card i{
    font-size: 3rem;
    color: var(--btn-bg-clr);
}
section.project-sum div.container div.row div.project-sum-wrapper div.project-sum-card h2{
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 2.5rem;
}

.the-line{
   color: var(--header-font-clr);
   position: relative;
   transition: ease-in 0.15s, ease-out 0.25s; 
}

.the-line:hover{
    color: var(--btn-bg-clr);
}

.the-line::after{
    content:"";
    position: absolute;
    right:0;
    bottom:0;
    width: 0;
    height: 2px;
    background-color: var(--btn-bg-clr);
    transition: ease-in 0.15s, ease-out 0.25s;
}

.the-line:hover::after{
    width: 100%;
    left:0;
}



section.project-sum div.container div.row div.project-sum-wrapper div.project-sum-card p{
    color: var(--description-clr);
}






/* div.something{
    width:200px;
    height:200px;
    background-color: rgba(210,120,120,0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    position:relative;
    border-radius: 50%;

}
div.something::after{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    top:50%;
    left:50%;
    background-color: red;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: ease-in 0.15s, ease-out 0.25s;
    border-radius: 50%;
}
div.something:hover::after{
    width: 0px;
    height: 0px;
   
} */


  
   /* Projects Summary Section Style Start  */


   /* Skill Bar Section Style Start  */


   section.skill-bar{
    padding: 0 0 4rem 0;
   }

   section.skill-bar div.container div.work div.slide-to-right{
    animation: slideToRight both;
    animation-timeline: view(0 5%);
   }


   @keyframes slideToRight{
    from{
        opacity: 0;
        scale: 0.7;
        translate:-100px 0;
    }
    to{
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
   }



   div.slide-to-left{
    animation: slideToLeft both;
    animation-timeline: view();
   }

   section.skill-bar div.container div.work div.experiences div.other-ex-wrap:nth-child(1){
    animation-range: entry 20% cover 35%;
   }
   section.skill-bar div.container div.work div.experiences div.other-ex-wrap:nth-child(2){
    animation-range: entry 30% cover 45%;
   }
   section.skill-bar div.container div.work div.experiences div.other-ex-wrap:nth-child(3){
    animation-range: entry 40% cover 55%;
   }
   section.skill-bar div.container div.work div.experiences div.other-ex-wrap:nth-child(4){
    animation-range: entry 50% cover 65%;
   }


   @keyframes slideToLeft{
    from{
        opacity: 0;
        scale: 0.7;
        translate:100px 0;
    }
    to{
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
   }

   section.skill-bar div.container div.row div.ex-num-wrap{
    background: var(--gradient-text);
    padding: 1rem 3.25rem 2.75rem;
    border-radius: 1.25rem;
    height: 100%;
   }

    section.skill-bar div.container div.row div.ex-num-wrap div.ex-num{
        gap: 0 4rem;

    }

   section.skill-bar div.container div.row div.ex-num-wrap p{
    font-size: 1rem;
    color: var(--description-clr);
   }

   section.skill-bar div.container div.row div.ex-num-wrap div.ex-num span{
    font-weight: 700;
    color: var(--btn-bg-clr);
   }

   section.skill-bar div.container div.row div.ex-num-wrap div.ex-num h3{
    font-weight: 700;
    color: var(--header-font-clr);
   }

   section.skill-bar div.container div.row div.col-12 div.experiences div.row div.other-ex-wrap h4{
    color: var(--header-font-clr);
   }
   section.skill-bar div.container div.row div.col-12 div.experiences div.row div.other-ex-wrap p{
    color: var(--description-clr);
   }




   div.experiences div.row div.other-ex{
    background-color: var(--content-bg);
    height: 100%;
    border-radius: 1.25rem;
    position: relative;
   }



   .other-ex:hover::after{
    opacity: 1;
}
.other-ex:hover::before{
    opacity: 0;
}

.other-ex::before, 
.other-ex::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: opacity 0.5s;


}

.other-ex::before{
    background: radial-gradient(550px circle at 75% 130% , var(--btn-bg-clr), transparent 40%);
    z-index: 1;
    opacity: 1;
}

    


.other-ex > .other-ex-content{
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background: var(--content-bg);
    border-radius: 1rem;
    margin: 3px 3px 3px 3.5px;
    z-index: 2;
    position: relative;
    padding: 1.9rem;
}

.other-ex::after{
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y) , var(--btn-bg-clr), transparent 40%);
    z-index: 1;
    opacity: 0;
}


section.skill-bar div.container div.skills{
    margin-top: 5rem;
}

section.skill-bar div.container div.skills h2.pb-4{
    font-size:2.5rem;
    font-weight: 600;
    color: var(--header-font-clr);

}

 .text-appear{
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 40% cover 50%;
 }

@keyframes text-appear{
    from{
        opacity:0;
        transform: translateY(100px) scale(0.8);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

 div.slide-to-right{
    animation: slideToRight both;
    animation-timeline: view();
}

section.skill-bar div.container div.skills div.skill div.bars:nth-child(1){
    animation-range: entry 5% cover 15%;
}
section.skill-bar div.container div.skills div.skill div.bars:nth-child(2){
    animation-range: entry 20% cover 30%;
}
section.skill-bar div.container div.skills div.skill div.bars:nth-child(3){
    animation-range: entry 15% cover 25%;
}
section.skill-bar div.container div.skills div.skill div.bars:nth-child(4){
    animation-range: entry 30% cover 40%;
}
section.skill-bar div.container div.skills div.skill div.bars:nth-child(5){
    animation-range: entry 25% cover 35%;
}
section.skill-bar div.container div.skills div.skill div.bars:nth-child(6){
    animation-range: entry 40% cover 50%;
}

section.skill-bar div.container div.skills div.skill h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--header-font-clr);
    
}

section.skill-bar div.container div.skills div.skill div.progress-bar{
    background: var(--progressbar-bg);
    width: 100%;
    height: 12px;
    border-radius: 5px;
    overflow: visible;
    padding: 2.5px;
}


section.skill-bar div.container div.skills div.skill div.progress-bar div{
    height: 10px;
    border-radius: 5px;
    background: var(--btn-bg-clr);
    width: 0%; /* Start at 0 */
    position: relative;
    transition: width 2s ease-in-out; /* Smooth growth */
}


section.skill-bar div.container div.skills div.skill div.progress-bar div span{
    position: absolute;
    right: -20px;
    top: 0;
    translate: 0 -50%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: var(--btn-bg-clr);
    font-size: 0.9rem;
}









   /* Skill Bar Section Style End  */


   /* Latest Sevices Section Style Start  */

    section.ls{
    padding: 4rem 0;
    }



   section.ls div.container p{
    color: var(--description-clr);
   }




   section.ls div.container div.row div.ls-info{
    background-color: var(--content-bg);
    height: 100%;
    border-radius: 1.25rem;
    position: relative;
   }



   .ls-info:hover::after{
    opacity: 1;
}
.ls-info:hover::before{
    opacity: 0;
}

.ls-info::before, 
.ls-info::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: opacity 0.5s;


}

.ls-info::before{
    background: radial-gradient(1600px circle at 90% 270% , var(--btn-bg-clr), transparent 40%);
    z-index: 1;
    opacity: 1;
}

    


.ls-info > .ls-info-content{
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background: var(--content-bg);
    border-radius: 1rem;
    margin: 3px 3px 3px 3.5px;
    z-index: 2;
    position: relative;
    padding: 1.9rem;
}

.ls-info::after{
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y) , var(--btn-bg-clr), transparent 40%);
    z-index: 1;
    opacity: 0;
}


section.ls div.container div.ls-wrap{
    row-gap: 6rem;
}

section.ls div.container div.ls-wrap div.ls-info-wrap div.ls-info div.ls-info-content h4.pb-3{
    font-weight: 600;
    color: var(--header-font-clr);
}






   /* Latest Sevices Section Style End  */


   /* Education & Experience Section Style Start  */


    section.EdEx{
    padding: 4rem 0;
    }

   section.EdEx div.container h3.pb-2{
    color: var(--btn-bg-clr);
   }

   section.EdEx div.container h2.edex-heading{
    font-weight: 600;
    color: var(--header-font-clr);
   }

   section.EdEx div.container p{
    color: var(--description-clr);
   }

   section.EdEx div.container h2.pb-4{
    font-size:2.5rem;
    font-weight: 600;
    color: var(--header-font-clr);

}

section.EdEx div.container div.row div.ed-info{
    background-color: var(--content-bg);
    height: 100%;
    border-radius: 1.25rem;
    position: relative;
   }



   .ed-info:hover::after{
    opacity: 1;
}
.ed-info:hover::before{
    opacity: 0;
}

.ed-info::before, 
.ed-info::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: opacity 0.5s;


}

.ed-info::before{
    background: radial-gradient(1600px circle at 90% 270% , var(--btn-bg-clr), transparent 40%);
    z-index: 1;
    opacity: 1;
}

    


.ed-info > .ed-info-content{
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background: var(--content-bg);
    border-radius: 1rem;
    margin: 3px 3px 3px 3.5px;
    z-index: 2;
    position: relative;
    padding: 1.9rem;
}

.ed-info::after{
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y) , var(--btn-bg-clr), transparent 40%);
    z-index: 1;
    opacity: 0;
}


section.EdEx div.container div.ed-wrap{
    gap: 6rem;
}

div.ed-info-content h4.pb-3{
    font-weight: 600;
    color: var(--header-font-clr);
}
div.ed-info-content h5{
    font-weight: 600;
    color: var(--header-font-clr);
}


section.EdEx div.container div.row div.ed-info-wrap:nth-child(1){
    animation-range: entry 30% cover 40%;
}
section.EdEx div.container div.row div.ed-info-wrap:nth-child(2){
    animation-range: entry 35% cover 45%;
}
section.EdEx div.container div.row div.ed-info-wrap:nth-child(3){
    animation-range: entry 40% cover 50%;
}
section.EdEx div.container div.row div.ed-info-wrap:nth-child(4){
    animation-range: entry 45% cover 55%;
}





   /* Education & Experience Section Style End  */



   /* My Latest Projects Style Start  */

   section.lp{
    padding: 4rem 0;
   }

   section.lp div.container h3.pb-2{
    color: var(--btn-bg-clr);
   }
   
   section.lp div.container h2.lp-heading{
    font-weight: 600;
    color: var(--header-font-clr);
   }

   section.lp div.container p{
    color: var(--description-clr);
   }

   section.lp div.container div.row div.col-12 div.p-img-wrapper{
    border: 2px solid var(--btn-bg-light-clr);
    background: var(--progressbar-bg);
   }

   section.lp div.container div.row div.col-12 div.p-img{
    overflow: hidden;
    transition: all ease 0.5s;
   }

   section.lp div.container div.row div.col-12 div.p-img img{
    transition: all ease 0.5s;
   }


   section.lp div.container div.row div.col-12 div.p-img:hover img{
    transform: scale(1.05);
   }




   /* My Latest Projects Style End  */


   /* Skills Section Style Start  */

   section.mskill{
    padding: 4rem 0;
   }

   section.mskill div.container h3.pb-2{
    color: var(--btn-bg-clr);
   }

   section.mskill div.container h2.mskill-heading{
    font-weight: 600;
    color: var(--header-font-clr);
   }
   section.mskill div.container p{
    color: var(--description-clr);
    transition: all ease 0.5s;
    font-weight: 500;
   }
   div.mskill-container{
    position: relative;
   }

   section.mskill div.container div.d-flex div.mskill-card{
    border-top: 2px solid var(--progressbar-bg);
    position: relative;
   }
   section.mskill div.container div.d-flex div.mskill-card div{
    z-index: 2;
   }


section.mskill div.container div.d-flex div.mskill-card:hover div.skillname p,
section.mskill div.container div.d-flex div.mskill-card:hover div p,
section.mskill div.container div.d-flex div.mskill-card.active div.skillname p,
section.mskill div.container div.d-flex div.mskill-card.active div p{
    color: var(--header-font-clr);
   }


   div.mskill-indicator{
    position: absolute;
    left: 0;
    right: 0;
    background: var(--btn-bg-clr);
    top: var(--top, 0px);
    height: var(--height, 0px);
    z-index: 1;
    transition: all ease 0.5s;
   }

    section.mskill div.container div.d-flex div.mskill-card div.mskill-icon i{
        font-size: 3rem;
        color: var(--header-font-clr);
    }

    section.mskill div.container div.d-flex div.mskill-card div.skillname h3{
        font-size: 2rem;
        font-weight: 600;
        color: var(--header-font-clr);
    }

    section.mskill div.container div.d-flex div.mskill-card div.skillname p{
        font-size: 1.2rem;
    }

    section.mskill div.container div.d-flex div.mskill-card div a{
        color: var(--header-font-clr);
        font-weight: 500;
        font-size: 1.25rem;
    }

    section.mskill div.container div.d-flex div.mskill-card div a i{
        font-size: 2rem;
        color: var(--header-font-clr);
    }


   /* Skills Section Style End  */





   /* Comment Section Style Start  */


   section.comment-sec{
    padding: 4rem 0;
   }

   section.comment-sec div.container div.comment div.comment-text{
    z-index: 2;
   }
   section.comment-sec div.container div.comment div.comment-img{
    z-index: 1;
   }

   .swiper-slide {
  /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard */
}

.swiper-slide img {
  pointer-events: none;
}

   section.comment-sec div.container div.comment div.comment-text h4{
    font-weight: 700;
    color: var(--header-font-clr);
   }
   section.comment-sec div.container div.comment div.quote h3{
    font-weight: 700;
    color: var(--header-font-clr);
   }
   section.comment-sec div.container div.comment div.comment-text p{
    font-weight: 700;
    color: var(--description-clr);
   }
   section.comment-sec div.container div.comment div.comment-text i{
    font-size: 6rem;
    color: var(--btn-bg-clr);
   }




   /* Comment Section Style End  */


   /* Contact Section Style Start  */


   section.contact-sec{
    padding: 4rem 0;

   }

   div.contact{
    background-color: var(--content-bg);
    height: 100%;
    position: relative;
   }


   div.contact:hover::after{
    opacity: 1;
}
div.contact:hover::before{
    opacity: 0;
}

div.contact::before, 
div.contact::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: opacity 0.5s;


}
    


div.contact > div.contact-content{
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background: var(--progressbar-bg);
    margin: 3px 3px 3px 3.5px;
    z-index: 2;
    position: relative;
    padding: 2rem;
}

div.contact::after{
    background: radial-gradient(1800px circle at var(--mouse-x) var(--mouse-y) , var(--btn-bg-clr), transparent 40%);
    z-index: 1;
    opacity: 0;
}


div.contact-text h6{
    letter-spacing: 1px;
    font-size: 1rem;
    color: var(--btn-bg-clr);
    font-weight: 500;
}
div.contact-text h3{
    font-size: 3rem;
    color: var(--header-font-clr);
    font-weight: 700;
}
div.contact-text p{
    font-size: 1rem;
    color: var(--description-clr);
    font-weight: 400;
}



div.contact-form form textarea{
    resize: none;
}



div.contact-form form input,textarea{
    background: var(--invisible);
    border: 2px solid var(--border);
    transition: all ease 0.5s;
    font-size: 1rem;
    color: var(--header-font-clr);
}

div.contact-form form input::placeholder, div.contact-form form textarea::placeholder{
    color: var(--header-font-clr);
    font-size: 1rem;
    font-weight: 500;
}

div.contact-form form input:focus, div.contact-form form textarea:focus{
    border: 2px solid var(--btn-bg-clr);
}




   /* Contact Section Style End  */


   /* Blog Section Style Start  */


   section.blog{
    padding: 4rem 0 8rem;
   }

   div.blog-card{
    border: 2px solid var(--border);
   }

   div.blog-card:hover div.blog-img img{
    transform: scale(1.05);
   }

   div.blog-img{
    overflow: hidden;
   }
   div.blog-img img{
    transition: all ease 0.5s;
    overflow: clip;
   }

   div.tag{
    background: var(--progressbar-bg);
    z-index: 2;
    top: 3%;
    left: 3%;
    font-size: 0.9rem;
    border-radius: 25px;
    font-weight: 400;
   }

   div.tag ul li{
    color: var(--header-font-clr);
    font-size: 0.9rem;
   }

   div.tag ul li i{
    font-size: 0.7rem;
   }


   .blog-heading{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--header-font-clr);
    line-height: 1.9rem;
    word-break: break-word;
    display: inline;
   }



.black-line {
  background: linear-gradient(to right, var(--header-font-clr));
  background-size: 0 0;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  line-break: auto;
}

.read-more-btn{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--description-clr);

}


.blog-card:hover .black-line {
  background-size: 100% 0.1em;
}


   

   

   /* Blog Section Style End  */


