/* For Extra Small Devices */

@media (min-width:0px) {
    .r-heading-3{
        font-size: 1.5rem;
    }
    .r-heading-2{
        font-size: 2.1rem;
    }
    .r-heading-1{
        font-size: 2.5rem;
    }
    .text{
        font-size: 1rem;
    }



    header div.container div.logo img{
        max-height: 2.5rem;
    }

    header div.container div.labels label i{
        font-size: 1.4rem;
    }

    section.hero{
        height: auto;
        padding: 15vh 0 0;
    }

    section.hero div.container div.hero-img h2.updown{
        top: 15%;
        left: 15%;
        position: relative;
    }
    section.hero div.container div.hero-img h2.downup{
        bottom: 20%;
        left: 15%;
        position: relative;
    }

    section.hero div.container div.hero-img{
        height: 90vh;
    }

    section.hero div.container div.hero-img img.img-fluid{
        transform: translateY(-35px);
    }


    .btn-1{
    width: 12rem;
    height: 3rem;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    color: var(--text-clr);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 3;
    }

    .btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--btn-bg-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;
    }
    .btn-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background: var(--text-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;    
    }

    .btn-1:hover{
    color: var(--btn-bg-clr);
    transform: translateX(10px);
    box-shadow: 0 0 20px var(--box-shadow-clr);
    }
    .btn-1:hover::before{
    left: 100%;
    }
    .btn-1:hover::after{
    right: 0;
    }


    section.skill-bar div.container div.row div.ex-num-wrap div.ex-num span{
    font-size: 4.5rem;

   }

   section.skill-bar div.container div.row div.ex-num-wrap div.ex-num h3{
    font-size: 1.5rem;

   }


    
}



/* For Small Devices */


@media (min-width:575px) {
    .r-heading-3{
        font-size: 1.5rem;
    }
    .r-heading-2{
        font-size: 2.1rem;
    }
    .r-heading-1{
        font-size: 2.5rem;
    }
    .text{
        font-size: 1rem;
    }

    section.hero{
        height: 100vh;
        padding: 15vh 0 4rem;
    }

    section.hero div.container div.hero-img h2.updown{
        top: 15%;
        left: 15%;
    }
    section.hero div.container div.hero-img h2.downup{
        bottom: 20%;
        left: 15%;
    }

    section.hero div.container div.hero-img{
        height: 90vh;
    }

    section.hero div.container div.hero-img img.img-fluid{
        transform: translateY(-35px);
    }


    .btn-1{
    width: 12rem;
    height: 3rem;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    color: var(--text-clr);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 3;
    }

    .btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--btn-bg-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;
    }
    .btn-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background: var(--text-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;    
    }

    .btn-1:hover{
    color: var(--btn-bg-clr);
    transform: translateX(10px);
    box-shadow: 0 0 20px var(--box-shadow-clr);
    }
    .btn-1:hover::before{
    left: 100%;
    }
    .btn-1:hover::after{
    right: 0;
    }

    section.project-sum{
        margin: 20rem 0 5rem;
    }
    
    section.skill-bar div.container div.row div.ex-num-wrap div.ex-num span{
    font-size: 5.5rem;

   }

   section.skill-bar div.container div.row div.ex-num-wrap div.ex-num h3{
    font-size: 2.5rem;

   }


    
}


/* For Medium Devices */


@media (min-width:768px) {
    .r-heading-3{
        font-size: 1.4rem;
    }
    .r-heading-2{
        font-size: 1.65rem;
    }
    .r-heading-1{
        font-size: 1.9rem;
    }
    .text{
        font-size: 0.9rem;
    }

    section.hero{
        height: 100vh;
        padding: 15vh 0 4rem;
    }

    section.hero div.container div.hero-img h2.updown{
        top: 30%;
        left: 5%;
    }
    section.hero div.container div.hero-img h2.downup{
        bottom: 17%;
        left: 5%;
    }

    section.hero div.container div.hero-img{
        height: 90vh;
    }

    section.hero div.container div.hero-img img.img-fluid{
        transform: translateY(0px);
    }


    .btn-1{
    width: 8rem;
    height: 2rem;
    font-size: 0.9rem;
    padding: .75rem 1rem;
    font-weight: 500;
    background: transparent;
    color: var(--text-clr);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 3;
    }

    .btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--btn-bg-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;
    }
    .btn-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background: var(--text-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;    
    }

    .btn-1:hover{
    color: var(--btn-bg-clr);
    transform: translateX(10px);
    box-shadow: 0 0 20px var(--box-shadow-clr);
    }
    .btn-1:hover::before{
    left: 100%;
    }
    .btn-1:hover::after{
    right: 0;
    }

       section.project-sum{
        margin: 0;
    }

    section.skill-bar div.container div.row div.ex-num-wrap div.ex-num span{
    font-size: 9.5rem;

   }

   section.skill-bar div.container div.row div.ex-num-wrap div.ex-num h3{
    font-size: 3rem;

   }



}



/* For Large Devices */


@media (min-width:992px) {
    .r-heading-3{
        font-size: 2.2rem;
    }
    .r-heading-2{
        font-size: 3rem;
    }
    .r-heading-1{
        font-size: 3.5rem;
    }
    .text{
        font-size: 1.2rem;
    }

    header div.container div.logo img{
    max-height: 3.5rem;
    }

    header div.container div.labels label i {
            font-size: 1.6rem;
    }

    section.hero{
        height: 100vh;
        padding: 15vh 0 4rem;
    }

    section.hero div.container div.hero-img h2.updown{
        top: 15%;
    }
    section.hero div.container div.hero-img h2.downup{
        bottom: 15%;;
    }

    section.hero div.container div.hero-img{
        height: 90vh;
    }

    section.hero div.container div.hero-img img.img-fluid{
        transform: translateY(-35px);
    }


    .btn-1{
    width: 12rem;
    height: 3.5rem;
    padding: 1.5rem 2rem;
    font-weight: 500;
    background: transparent;
    color: var(--text-clr);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 3;
    }

    .btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--btn-bg-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;
    }
    .btn-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background: var(--text-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;    
    }

    .btn-1:hover{
    color: var(--btn-bg-clr);
    transform: translateX(10px);
    box-shadow: 0 0 20px var(--box-shadow-clr);
    }
    .btn-1:hover::before{
    left: 100%;
    }
    .btn-1:hover::after{
    right: 0;
    }



       section.project-sum{
        margin: 0;
    }


    div.experiences div.row div.other-ex h4{
        font-size: 2.5rem;
    }


}
